/* 
COLORS



Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

 */
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0rem 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --colored-line: 0.2px solid var(--color-grey-light-4);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.5em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-grey-dark-2);
}

.container {
  min-height: 50rem;
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
}

@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.header {
  font-size: 1.5rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7rem;
}

@media only screen and (max-width: 31.9em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-grey-light-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  border-right: var(--line);
}

.hotel-view {
  height: 100%;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4.5rem;
  border-bottom: var(--line);
}

@media only screen and (max-width: 56.25em) {
  .detail {
    padding: 2.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.description {
  background-color: #fff;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  margin-right: 4.5rem;
}

@media only screen and (max-width: 56.25em) {
  .description {
    padding: 2rem;
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .description {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 2rem;
  }
}

.user-reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 31.9em) {
  .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    height: 5rem;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 26em) {
  .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    height: 2.75rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 31.9em) {
  .search {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
    margin-right: 0.5rem;
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 26em) {
  .search {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    margin-right: 0.5rem;
    padding: 0 3rem;
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: -3.5rem;
}

@media only screen and (max-width: 31.9em) {
  .search__input {
    padding: 0.7rem 7rem;
  }
}

@media only screen and (max-width: 26em) {
  .search__input {
    padding: 0.375rem 3rem;
  }
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: var(--color-grey-dark-3);
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media only screen and (max-width: 31.9em) {
  .user-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
    border-top: var(--colored-line);
    border-bottom: var(--colored-line);
  }
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-1);
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-3);
}

.user-nav__notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
  background-color: var(--color-primary);
  font-size: 1.25rem;
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 100px;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.side-nav {
  font-size: 1.9rem;
  list-style: none;
  margin-top: 0.1rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
  }
}

.side-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #fff;
  }
}

@media only screen and (max-width: 31.9em) {
  .side-nav__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0.5rem;
  }
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 1s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 1s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 1s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before, .side-nav_item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav_item--active::before {
  background-color: var(--color-grey-dark-1);
}

.side-nav__link:link, .side-nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1.5rem 1.5rem;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1.5rem 1.5rem;
  }
}

@media only screen and (max-width: 31.9em) {
  .side-nav__link:link, .side-nav__link:visited {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0.5rem;
  }
}

.side-nav__icon {
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
}

@media only screen and (max-width: 31.9em) {
  .side-nav__icon {
    margin-right: 0;
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media only screen and (max-width: 31.9em) {
  .side-nav__icon {
    display: none;
  }
}

.side-nav__text {
  position: relative;
  z-index: 10;
  color: var(--color-grey-dark-1);
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 26em) {
  .side-nav__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
}

/* .group-a,
.group-b{
  @media only screen and (max-width: $bp-smaller) {
    flex: 0 0 50%;
  }
} */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
  display: block;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: var(--line);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
}

@media only screen and (max-width: 31.9em) {
  .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.overview__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1.5rem 1.5rem;
  color: #fff;
}

@media only screen and (max-width: 31.9em) {
  .overview__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 0.5rem;
  }
}

.overview__stars {
  margin-right: auto;
}

@media only screen and (max-width: 31.9em) {
  .overview__stars {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.overview__stars--icon, .overview__location--icon {
  height: 1.8rem;
  width: 1.8rem;
}

.overview__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 31.9em) {
  .overview__location {
    padding-bottom: 1.5rem;
    margin-left: 2.5rem;
  }
}

.overview__location--icon {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 31.9em) {
  .overview__location--icon {
    display: none;
  }
}

.overview__rating {
  background-color: #fff;
  color: #333;
  margin-left: 0.5rem;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0 1.8rem;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 31.9em) {
  .overview__rating {
    margin-left: 0;
  }
}

.overview__rating--average {
  margin: 0 auto;
  font-size: 2.25rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: -0.4rem;
}

.overview__rating--count {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn-inline {
  border: none;
  color: #fff;
  font-size: 1.3rem;
  border-bottom: 1px solid currentColor;
  margin-right: 2rem;
  background-color: transparent;
  padding-bottom: 0.2rem;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-inline:hover {
  color: var(--color-grey-light-4);
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 26em) {
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 0.7rem;
}

.list__item::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.7rem;
  background-color: var(--color-primary);
  -webkit-mask-image: url(/img/chevron-thin-right.svg);
  -webkit-mask-size: cover;
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recommend__friends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend__photo {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid #fff;
}

.recommend__photo:not(last-child) {
  margin-right: -2rem;
}

.review {
  background-color: #fff;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 2.5rem;
  }
}

.review::before {
  content: "\201C";
  position: absolute;
  line-height: 1;
  top: -2.2rem;
  left: -1rem;
  font-size: 20rem;
  font-family: sans-serif;
  color: var(--color-grey-light-2);
  z-index: 1;
}

.review__text {
  margin-bottom: 2rem;
  z-index: 10;
}

.review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.review__user--name {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.review__user--date {
  color: var(--color-grey-dark-3);
  font-size: 1rem;
}

.review__rating {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-weight: 300;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-left: auto;
}

.btn__inline--bottom {
  border: none;
  color: var(--color-primary);
  font-size: 1.3rem;
  margin-right: 2rem;
  background-color: transparent;
  padding-bottom: 0.2rem;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__inline--bottom span {
  margin-left: 0.3rem;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

.btn__inline--bottom:hover {
  color: var(--color-primary-dark);
}

.btn__inline--bottom:hover span {
  margin-left: 1.7rem;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.5rem 0;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .cta {
    padding: 2rem 0;
  }
}

.cta__legal {
  font-size: 1.4rem;
  color: var(--color-grey-dark-3);
  text-align: center;
  background-color: var(--color-grey-light-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}

@media only screen and (max-width: 56.25em) {
  .cta__legal {
    display: none;
  }
}

.cta__right--side {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: var(--line);
}

.cta__right--side__book--now {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.cta__right--side__btn {
  font-size: 1.5rem;
  font-weight: 300;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  overflow: hidden;
  color: #fff;
  cursor: pointer;
}

.cta__right--side__btn > * {
  display: inline-block;
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cta__right--side__btn__visible {
  padding: 2rem 7.5rem;
}

.cta__right--side__btn__invisible {
  position: absolute;
  padding: 2rem 0;
  left: 0;
  top: -100%;
}

.cta__right--side__btn:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
}

.cta__right--side__btn:hover .cta__right--side__btn__visible {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.cta__right--side__btn:hover .cta__right--side__btn__invisible {
  top: 0;
}

.cta__right--side__btn:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}
/*# sourceMappingURL=main.css.map */